.language-switcher {
  list-style: none;
  color: #999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  &:hover {
    color: white;
  }
  li {
    display: none;
    cursor: pointer;
    &.active {
      display: block;
    }
  }
}