<meta charset="UTF-8">
<div class="info-template" id="drugs">
    <h3>ნარკოტიკები</h3>

    <p><strong>ნარკოტიკი</strong> კანონით აკრძალული, ბუნებრივი ან სინთეზური ნივთიერებაა, რომლის ფსიქოაქტიური შემადგენელი
        ადამიანის ცენტრალურ ნერვულ სისტემაზე ზემოქმედებს, ცვლის გუნება-განწყობას, ხშირად სასიამოვნო შეგრძნებებს იწვევს,
        ცვლის სხეულის ფიზიკურ და ფსიქიკურ ფუნქციებს და რიგ შემთხვევებში, მასზე დამოკიდებულების რისკებს შეიცავს.</p>

    <p>სხვადასხვა ნივთიერება, რომლებსაც დღეს ნარკოტიკებს ვეძახით, წარსულში <strong>მედიცინაში სამკურნალოდ ან სხვადასხვა
        კულტურის სახალხო რიტუალებში გამოიყენებოდა</strong>, შემდეგ კი, ჯანმრთელობაზე შესაძლო ნეგატიური გავლენის გამო,
        ისინი კანონით აიკრძალა;</p>

    <p>რეკრეაციული მოხმარებისთვის კანონით აკრძალული ზოგი ნივთიერება დღესაც გამოიყენება კლინიკურ კვლევებში; მაგალითად,
        <strong>MDMA</strong> რეკრეაციული ან სამედიცინო მოხმარებისთვის კანონით ყველა ქვეყანაში აკრძალულია, თუმცა,
        <strong>F.D.A.</strong>-ს სპეციალური ნებართვით, ის ჩართულია კლინიკურ კვლევაში <a
                href="https://clinicaltrials.gov/ct2/show/NCT03537014" target="_blank">ფსიქოთერაპიის დამხმარე
            საშუალებად</a></p>
</div>

<div class="info-template" id="hemp">
    <h3>კანაფი</h3>

    <p>მცენარე კანაფი, იგივე მარიხუანა, როგორც მთლიანი მცენარე, ამერიკის შეერთებულ შტატებში ფედერალურ დონეზე აკრძალული
        ნივთიერებების სიაში შედის, მაგრამ მისი არაფსიქოაქტიური კომპონენტი - <strong>CBD, კანაბიდიოლი,</strong>
        სამედიცინოდ 2018 წლიდან არის დაშვებული. ამერიკის 11 შტატსა და კოლუმბიის ოლქში მოზრდილი ადამიანისთვის მარიხუანის
        ფლობა და რეკრეაციული მოხმარება ლეგალურია, ხოლო 33 შტატსა და კოლუმბიის ოლქში პაციენტებს მარიხუანის ან მისგან
        გამოწურული საშუალებებით გარკვეული დაავადებების მკურნალობა შეუძლიათ სპეციალურ დისპანსერებში, ექიმების
        მეთვალყურეობის ქვეშ; მიუხედავად იმისა, რომ მარიხუანის მოხმარება ზოგ შტატში დაშვებულია, ფედერალურად ეს მცენარე
        კლასიფიცირებულია და აკრძალული ნივთიერებების <a href="https://www.dea.gov/drug-scheduling" target="_blank">I
            დონის სიებშია შეყვანილი</a>; ევროპის კონტექსტში კანაფი გაეროს <a
                href="https://www.unodc.org/pdf/convention_1961_en.pdf" target="_blank"> ნარკოტიკების პირველი დონის</a>
        სიაშია. 2017 წლიდან, საქართველოში 70 გრამამადე მარიხუანის საკუთარი მოხმარების მიზნით ფლობა დანაშაული არ არის,
        მაგრამ მისი მოყვანა ისევ აკრძალულია კანონით.</p>

    <p>&diams; თარგმანი კანაფის ერთ-ერთ შემადგენელზე - კანაბიდიოლზე [CBD] ნახეთ ხუთ ნაწილად:</p>

    <ol class="translates">
        <li>
            <p><strong><a href="https://cactus-media.ge/index.php?do=full&amp;id=204" target="_blank">კანაბიდიოლის ძალა [პირველი
                ნაწილი]</a></strong></p>
        </li>
        <li>
            <p><strong> <a href="https://cactus-media.ge/index.php?do=full&amp;id=205" target="_blank">კანაბიდიოლის ძალა [მეორე
                ნაწილი]</a></strong></p>
        </li>
        <li>
            <p><strong> <a href="https://cactus-media.ge/index.php?do=full&amp;id=206" target="_blank">კანაბიდიოლის ძალა [მესამე
                ნაწილი]</a></strong></p>
        </li>
        <li>
            <p><strong><a href="https://cactus-media.ge/index.php?do=full&amp;id=205" target="_blank">კანაბიდიოლის ძალა [მეორე
                ნაწილი]</a></strong></p>
        </li>
        <li>
            <p><strong><a href="https://cactus-media.ge/index.php?do=full&amp;id=216" target="_blank">კანაბიდიოლის ძალა [მეხუთე
                ნაწილი]</a></strong></p>
        </li>
    </ol>
</div>

<div class="info-template" id="mdma">
    <h3>MDMA / ექსტაზი</h3>

    <p><strong>MDMA</strong> სტიმულატორი და მსუბუქი ჰალუცინოგენია. ზოგი წყაროს ცნობით, MDMA პირველად 1912 წელს კომპანია
        Merck-მა აწარმოა. MDMA ხელმისაწვდომია აბების, კაფსულების, ფხვნილისა და სითხის სახით, თუმცა ყველაზე გავრცელებულია
        ტაბლეტირებული ფორმა. ექსტაზის აბები სხვადასხვა ფერისა და ფორმისაა. მათზე ამოტვიფრულია სხვადასხვა სახის
        სიმბოლოები. ტაბლეტები და ფხვნილი იშვიათადაა წმინდა. ზოგჯერ ისინი შეიცავს სხვა ნივთიერებებსაც, რომლებიც MDMA-ს
        მსგავსია, თუმცა, ხანდახან უფრო საშიშია, ვიდრე MDMA.</p>

    <p>ერთი აბი ჩვეულებრივ, საშუალოდ, 60&ndash;70 მილიგრამ აქტიურ ნივთიერებას, ანუ MDMA-ს, შეიცავს. აღრიცხულია 300 მგ
        დოზის მოხმარების შედეგად დამდგარი ფატალური შედეგები, მაგრამ ნივთიერების ტოქსიურობა ბევრ ფაქტორზეა დამოკიდებული,
        მათ შორის ინდივიდუალურ ათვისების უნარსა და სხვა გარემოებებზე, რა ვითარებაშიც მიიღო ადამიანმა MDMA. რეგულარულ და
        გრძელვადიან მოხმარებას შესაძლებელია, მოჰყვეს საზიანო შედეგები და ფსიქოლოგიური დამოკიდებულების საფუძველიც
        გახდეს.</p>

    <p>აქტიური ნივთიერების გარდა, აბები შეიცავს ნივთიერებებს, რომლებიც მას მოცულობას ჰმატებს, მაგალითად, ლაქტოზას და
        მცირე მოცულობებით [აბის] შემკვრელ ნივთიერებებს.</p>

    <p><strong>MDMA</strong> რეკრეაციული ან სამედიცინო მოხმარებისთვის კანონით ყველა ქვეყანაში აკრძალულია, თუმცა,
        <strong>F.D.A.</strong>-ს სპეციალური ნებართვით, ის ჩართულია კლინიკურ კვლევაში <a
                href="https://clinicaltrials.gov/ct2/show/NCT03537014" target="_blank">ფსიქოთერაპიის დამხმარე
            საშუალებად</a></p>
</div>

<div class="info-template" id="ketamin">
    <h3>კეტამინი</h3>
    <p>კეტამინი, ბრენდდასახელებით <strong><a href="https://www.drugs.com/mtm/ketalar.html" target="_blank">კეტალარი</a>,</strong>
        ამჟამად სამედიცინოდაც გამოიყენება, როგორც ხანმოკლე ტკივილგამაყუჩებელი საშუალება, რომელიც 1970 წლიდან გამოჩნდა
        ბაზარზე და გამოიყენება როგორც ადამიანებში, ასევე ცხოველებში.</p>
    <p><a href="https://www.emcdda.europa.eu/publications/risk-assessments/ketamine_en" target="_blank"><strong>1990-იანი
        წლებიდან</strong></a> გაჩნდა ფაქტები, როცა კეტამინის გამოყენება ადამიანებმა რეკრეაციული მიზნებითაც დაიწყეს.
        მცირე დოზების გამოყენების შემთხვევაში, კეტამინს მსუბუქი ჰალუცინოგენური თვისებები აქვს. მაღალი დოზების
        შემთხვევაში, შესაძლოა, ადამიანმა გონებაც დაკარგოს ან/და კომაში ჩავარდეს, იგრძნოს საკუთარი სხეულიდან &ldquo;განყენების&rdquo;
        შეგრძნება ან &ldquo;სიკვდილთან მიახლოების&rdquo; შეგრძნებები.</p>
    <p>ამერიკის შეერთებულ შტატებში კეტამინი კონტროლირებული ნივთიერებების III კლასიფიკაციაში შედის, მაგრამ არ არის
        კლასიფიცირებული, როგორც ნარკოტიკი, ვინაიდან დამტიცებული სამედიცინო მედიკამენტიცაა.</p>
</div>

<div class="info-template" id="amphetamine">
    <h3>ამფეტამინი</h3>
    <p><a href="https://www.emcdda.europa.eu/publications/drug-profiles/amphetamine_en" target="_blank">ამფეტამინი</a> სინთეტური
        ნარკოტიკია, რომელიც ცენტრალურ ნერვულ სისტემას ასტიმულირებს. ზოგი წყაროს მონაცემებით, ის 1880 წელს აწარმოა
        გერმანელმა ქიმიკოსმა ლოიკარტმა, თუმცა, მტკიცებულებები ამასთან დაკავშირებით ცოტაა. მეტამფეტამინის ქიმიურ
        შემადგენლობაზე სისტემური კვლევები მეოცე საუკუნის ადრეულ ეტაპამდე არ არსებობდა. ამჟამად ამფეტამინს, ძირითადად,
        უკანონო ლაბორატორიებში ამზადებენ. </p>
    <p>ამფეტამინი ნორადრენალინისა და დოფამინის რეცეპტორებს უერთდება და რიგ შემთხვევებში [რაც მრავალ ფაქტორზეა
        დამოკიდებული], იწვევს ჰიპერტენზიას, ტაქიკარდიას, მოჭარბებულ სითამამეს, ადამიანს მეტი სოციალურობისკენ ახალისებს,
        ჰმატებს ენერგიას; მოგვიანებით კი დაღლილობის შეგრძნებას, ლეთარგიულობას, უძილობას და მსგავს სიმპტომებს იწვევს.</p>
    <p>ამფეტამინის ქრონიკული მოხმარება ნეიროქიმიურ და ნეიროანატომიურ ცვლილებებს იწვევს. დამოკიდებულების ჩამოყალიბებამ,
        რომელიც უფრო მედიკამენტის მიმართ მზარდ მიჩვევაში [ტოლერანტობის ჩამოყალიბება] გამოიხატება, მეხსიერების გაუარესება
        და სხვა კოგნიტური ფუნქციის შესუსტება შეიძლება მოჰყვეს. </p>
    <p>მარკიზის ტესტერზე ამფეტამინი ფორთოხლისფერ/ყავისფერ შეფერილობას აჩვენებს. </p>
</div>

<div class="info-template" id="mushrooms">
    <h3>ჰალუცინოგენური სოკოები</h3>
    <p><a href="https://www.emcdda.europa.eu/publications/drug-profiles/hallucinogenic-mushrooms_en" target="_blank">&ldquo;ჰალუცინოგენური
        სოკოები&rdquo;</a> ფსიქოაქტიურ ნივთიერებებს: ფსილოციბინს ან ფსილოცინს შეიცავენ. ხსენებული ორი სახის ფსიქოაქტიური
        შემადგენლის მქონე სოკოების 50-ზე მეტი სახეობა არსებობს. ველურ ბუნებაში შეგროვების დროს, ასეთი სოკოები მარტივად
        ერევათ არაფსიქოაქტიურ ან შხამიან სოკოებში. შესაბამისად, მათი მოკრეფა და გადამოწმების გარეშე მიღება დამატებით
        რისკებს უკავშირდება და შესაძლოა, ადამიანმა წინასწარი განძრახვის გარეშე, შემთხვევით, მიიღოს. </p>
    <p>ფსილოცინი რამდენიმე რეცეპტორს [მათ შორის, 5-HT1A, 5-HT2A და 5-HT2C] ებმის: ის შერეული რეცეპტორული აგონისტია. მისი
        ზემოქმედება დამოკიდებულია აქტიური ნივთიერების დოზაზე, მომხმარებლის წინა გამოცდილებებზე, მიღების ადგილზე და ა.შ.
        ერთსა და იმავე ადამიანშიც კი, შესაძლოა, სხვადასხვა ფაქტორების გათვალისწინებით, სხვადასხვა დროს განსხვავებული
        ზექმედება ჰქონდეს. მთავარი ზემოქმედება მაინც ცენტრალურ ნერვულ სისტემას უკავშირდება; ეფექტები, რომლებიც
        სუბიექტურია, შესაძლოა, იყოს მოშვება, ეიფორია, ფერების უფრო მკვეთრად აღქმა, ვიზუალური ხილვები [ზედაპირების
        მოძრაობა, ტალღები] ან სახეებისა და გამოსახულებების ცვლილება ან/და ჰალუცინაცია.</p>
    <p>1960 წელს, კომპანია Sandoz-მა სუფთა, სინთეზირებული ფსილოციბინი გამოიტანა ბაზარზე, ბრენდდასახელებით Indocybin&reg;,
        ექსპერიმენტული და ფსიქოთერაპიული მკურნალობისთვის. თუმცა, მისი სამედიცინო ღირებულება უტყუარი მონაცემებით არ
        მტკიცდება.</p>
    <p>
        <a href="https://clinicaltrials.gov/ct2/results?cond=&amp;term=psilocybin+&amp;cntry=&amp;state=&amp;city=&amp;dist=" target="_blank">კლინიკური
            კვლევები,</a> რაშიც ფსილოციბინი ამჟამად იცდება, ადგენს მის შესაძლო როლს ადამიანებში ობსესიურ-კომპულსიური
        აშლილობის, ანორექსიის, დეპრესიის, ალცჰეიმერის დაავადების მკურნალობის ან მდგომარეობის შემსუბუქების კუთხით. </p>
</div>

<div class="info-template" id="lsd">
    <h3>LSD</h3>
    <p>LSD [ლიზერგინის მჟავას დიეთილამიდი, Lysergic acid diethylamide] ძლიერი ჰალუცინოგენია, რომლის სინთეზირება პირველად
        1938 წელს მოხდა შვეიცარიაში, ექიმ ალბერტ ჰოფმანის ინიციატივით.</p>

    <p>LSD ლიზერგინის მჟავისგან მზადდება, რომელსაც ბუნებრივად შეიცავს ჭვავის ან შვრიის სოკო, სახელად ერგოტი [ლათინური
        სახელი Claviceps purpurea].</p>

    <p>სასიამოვნო შეგრძნებების მოზღვავება და ხმოვანი თუ ვიზუალური ჰალუცინაციები, რომელიც LSD-ს მიღების შედეგად მოდის,
        თავის ტვინიდან სეროტონინის არაბუნებრივად დიდი რაოდენობით გამოყოფის შედეგია</p>

    <p>ამერიკის შეერთებულ შტატებში LSD-ს გამოყენება 1971 წელს აიკრძალა და დღემდე <a href="https://bit.ly/2Ch25T8"
                                                                                    target="_blank">განსაკუთრებით საშიში
        ნივთიერებების [Schedule I] სიაშია.</a></p>

    <p>აკრძალულია მისი გამოყენება ნებისმიერი მიზნით: როგორც სამედიცინო, ასევე რეკრეაციული. ამჟამად LSD აკრძალულია როგორც
        ევროკავშირის ქვეყნებში, ასევე საქართველოშიც. თუმცა, ამერიკის შეერთებულ შტატებში ფედერალურ დონეზე აკრძალვის
        მიუხედავად, ფსიქიატრების გარკვეულ ჯგუფს, რომლებიც ორგანიზაცია Multidisciplinary Association for Psychedelic
        Studies (MAPS)-ში არიან გაერთიანებულნი, სჯერა, რომ <a href="https://bit.ly/2UNOM2U" target="_blank">LSD-ს
            სამკურნალო თვისებებიც აქვს.</a></p>
</div>

<div class="info-template" id="new-drugs">
    <h3>ახალი ფსიქოაქტიური ნივთიერებები</h3>

    <p>ახალი ფსიქოაქტიური ნივთიერებები [New Psychoactive Substances (NPS)] სტრუქტურულად და ზემოქმედებით კანონით აკრძალულ
        ნივთიერებებს ჰგვანან. უკანონო მწარმოებლები, კანონისა და სტანდარტული ტესტერებისთვის თავის არიდების მიზნით, ახალ
        ფორმულებს
        იგონებენ, რომ კანონს თავი აარიდონ.</p>

    <p>ახალ ფსიქოაქტიურ ნივთერებებს საქართველოში ხშირად &quot;ბიოდ&quot; მოიხსენიებენ. &quot;ბიო&quot; ნარკოტიკი
        ჯანმრთელობისთვის
        უფრო საზიანოა, ვიდრე ბუნებრივი ნარკოტიკი [მაგალითად, მცენარე კანაფი ან/და მისგან გამოყვანილი ან გამოწურული
        საშუალებები]. ახალი ფსიქოაქტიური ნივთიერებების ჯგუფში შემავალი ბევრი ნივთიერება აქამდეც არსებობდა, მაგრამ ახლა
        ბაზარზე უფრო საშიში ქიმიური ფორმით გამოჩნდა, ხელმისაწვდომ ფასად და მეტად პოპულარული გახდა.</p>

    <p>&quot;ბიო&quot; მარიხუანა <a href="http://bit.ly/2mIqQ28">ახალი ფსიქოაქტიური ნივთიერებების ერთ-ერთი
        სახეობაა</a>. სინთეზური კანაბინოიდები მარიხუანის შემადგენლობაში ბუნებრივად შემავალი ინგრედიენტის - THC-ის
        მსგავსად ააქტიურებს თავის ტვინში კანაბინოიდურ CB1 და CB2 რეცეპტორებს, რომელიც იძლევა ე.წ. &ldquo;კაიფის&rdquo;
        შეგრძნებას, თუმცა ტვინზე ზემოქმედების ინტენსივობა და მოქმედების დრო განსხვავდება და ხშირად უფრო ძლიერი და
        საშიშია.</p>

    <p>ამავე დროს, ზოგი სინთეზური კანაბინოიდი ააქტიურებს არა-კანაბინოიდურ რეცეპტორებსაც, რასაც მომხმარებელი მოულოდნელ
        შედეგებამდე და პრობლემებამდე მიჰყავს.</p>

    <p>ახალი ფსიქოაქტიური ნივთიერებების ჯგუფში ასევე შედიან სხვა სახის ხელოვნური, უკანონო ლაბორატორიებში წარმოებული
        ნარკოტიკები [მაგალითად, სინთეზური კათინონები - &quot;აბაზანის მარილები&quot; და სხვა], რომლებიც ბაძავენ კანაფის,
        კოკაინის, ექსტაზისა და LSD-ს გავლენას ადამიანის ცენტრალურ ნერვულ სისტემაზე</p>

    <p>ისეთ პირობებში, როცა შავ ბაზარზე გაყიდვადი ნარკოტიკების ზუსტი ინგრედიენტები უცნობია, შეუძლებელია ჯანმრთელობაზე
        მათი გავლენის განსაზღვრა</p>
</div>

<div class="info-template" id="theories">
    <h3>ნივთიერებებზე დამოკიდებულების თეორიები</h3>

    <p>ადიქცია ნარკოტიკებზე დამოკიდებულების კონტექსტში ერთ-ერთი ყველაზე ცხარედ განხილვადი თემაა მეცნიერებაში. ერთ-ერთი
        ყველაზე ცნობილი თეორია <a
                href="https://www.thelancet.com/journals/lanpsy/article/PIIS2215-0366(14)00126-6/fulltext"
                target="_blank"> &ldquo;თავის ტვინის დაავადების / brain disease&rdquo;</a> თეორიაა, რომელსაც ამერიკის
        წამალდამოკიდებულების ეროვნული ინსტიტუტი [NIDA, National Institute on Drug Abuse] იზიარებს. ამ მოდელის მიხედვით,
        ადიქცია თავის ტვინის დაავადებაა. ამ მოდელს კრიტიკოსებიც ჰყავს, რომლებიც ამბობენ, რომ ამ თეორიას საკმარისი
        მტკიცებულებები არ უმაგრებს ზურგს. ევროპის წამალდამოკიდებულებისა და ნარკოტიკების მონიტორინგის ცენტრის [EMCDDA]
        პოზიციით, კანონით აკრძალული ნივთიერებების მოხმარებას კომპლექსური მიზეზები აქვს და ის ერთზე ვერ დაიყვანება.
        EMCDDA-ს <a href="https://www.emcdda.europa.eu/system/files/publications/728/TDXD13014ENN_443320.pdf"
                    target="_blank"> პუბლიკაციაში</a> ბრიტანელი ექიმი <a href="http://www.rjwest.co.uk/"
                                                                         target="_blank"> რობერტ უესტი</a> კანონით
        აკრძალული ნივთიერებების მოხმარების ექვს ძირითად მოდელს და 15 ქვემოდელს გამოყოფს, რომლებიც ძირითადი მოდელებიდან
        გამომდინარეობენ ან/და მათ გაგრძელებას წარმოადგენენ. <strong>რაციონალური არჩევანის თეორიის</strong> /&lsquo;Rational&rsquo;
        choice theories მიხედვით, ნარკოტიკების მოხმარება ადამიანის მეტ-ნაკლებად გაცნობიერებული, ინფორმირებული არჩევანია.
    </p>
</div>

<div class="info-template" id="decrease">
    <h3>ზიანის შემცირება</h3>
    <p>➠ ნუ მიიღებთ უცნობი შემადგენლობის ნივთიერებას. თუ მაინც გადაწყვეტთ მიღებას, მცირე დოზებით დაიწყეთ</p>
    <p>➠ დოზას სწრაფად ნუ გაზრდით</p>
    <p>➠ თუ ნარკოტიკს კლუბურ გარემოში იღებთ, ცეკვის დროს, ყოველ ერთ საათში 0,5 ლიტრი წყალი დალიეთ. ნუ დალევთ ბევრ წყალს:
        ზოგჯერ ჭარბი წყლის მიღება მავნებელია</p>
    <p>➠ გამოიყენეთ ერთჯერადი მოსაწევი მილი. არ გამოიყენოთ ზიარი მილი. მოწევის დროს, გაცხელებულმა მინის მილმა, შესაძლოა,
        კანი დაწვას, ხოლო ლითონის მილმა - კანი გაკაწროს. სისხლის კვალი, შესაძლოა, მოსაწევ საშუალებაზე დარჩეს,
        დაბინძურებული მილით კი, შესაძლოა, ჰეპატიტის ან აივ ინფექციით დაინფიცირდეთ</p>
    <p>➠ ნუ მიიღებთ ნარკოტიკს მარტო. აარჩიეთ ადამიანი, ვისაც იცნობთ და ენდობით, ან გარემო, სადაც საჭიროების შემთხვევაში,
        დაგეხმარებიან</p>
    <p>➠ ჯანდაცვის მსოფლიო ორგანიზაციის რეკომენდაციით, პრეპარატი &ldquo;ნალოქსონი&rdquo; ადვილად ხელმისაწვდომი უნდა იყოს
        იმ ადამიანებისთვის, რომლებიც, შესაძლოა, ზედოზირების ფაქტის შემსწრენი აღმოჩნდნენ: ნარკოტიკების მომხმარებელთა
        თემის წარმომადგენლები, ოჯახის წევრები და მეგობრები. ნალოქსონი ოპიოიდების: ჰეროინის, ფენტანილის ან ძლიერი
        ტკივილგამაყუჩებელი საშუალების ზედოზირების მყისიერად შეჩერება შეუძლია. მიღებისთანავე ნალოქსონი მალევე ბლოკავს
        თავის ტვინის რეცეპტორებზე ოპიოიდების ზემოქმედებას და ორიდან რვა წუთში აღადგენს სუნთქვას.</p>
</div>

<div class="info-template" id="control">
    <h3>ნარკოტიკების უცნობი შემადგენლობა &amp; ხარისხის კონტროლის მცდელობები</h3>

    <p>ხარისხის კონტროლის გარეშე, ნარკოტიკების/ფსიქოაქტიური ნივთიერებების შემცველი ნივთიერებების მოხმარება საშიშია
        იმიტომ, რომ ისინი <strong>უკანონოდ იწარმოება</strong> და მათი შემადგენლობა უცნობია; შესაბამისად უცნობია მათი
        გავლენა ჯანმრთელობაზე</p>

    <p><strong>ნარკოტიკების შემოწმება / drug checking</strong> ითვლება ერთ-ერთ გზად, როდესაც მომხმარებელი ნარკოტიკს
        მიღებამდე ამოწმებს და მეტ-ნაკლები ინფორმაცია აქვს მის შემადგენლობაზე</p>

    <p>ნარკოტიკების შემადგენლობის <strong>შემოწმების</strong> ორი მეთოდი არსებობს: სწრაფი ტესტირება და ნარკოტიკების
        ქიმიური შემოწმება</p>

    <p><strong>სწრაფ ტესტირებას შეზღუდვები</strong> აქვს: მისი სიზუსტე მრავალ ფაქტორზეა დამოკიდებული, მათ შორის, იმაზე,
        როგორი განათებაა იმ გარემოში, სადაც სწრაფი ტესტირება კეთდება და ან ნარკოტიკის რა ნაწილი იქნა ტესტირებული;</p>

    <p>უფრო ზუსტია <strong>ნარკოტიკების ქიმიური შემოწმება</strong> , თუმცა, შედარებით არაპრაქტიკული, ვინაიდან ის უფრო
        მეტ დროს - 2-3 დღეს და ლაბორატორიულ ტესტირებას მოითხოვს</p>

    <p>ნარკოტიკების მომხმარებლები ხშირად იყენებენ ონლაინ რესურსს - <a href="https://www.ecstasydata.org/"
                                                                      target="_blank">DrugsData.org</a> . ამ პლატფორმაზე
        მომხმარებლები ნარკოტიკების ფოტოებს უზიარებენ ერთმანეთს. ასეთ ფოტოზე ჩანს ნარკოტიკის ფერი, ფორმა და დაღი, რასაც
        არალეგალური მწარმოებლები ნარკოტიკებს ასვამენ. ამ ნიშნებით, შესაძლოა, კონკრეტული ტაბლეტი წარმოების გარკვეულ
        პარტიას მიაკუთვნონ. თუმცა, ნარკოტიკების შემადგენლობისა და ხარისხის დისტანციურად, მხოლოდ ვიზუალურად შემოწმება
        ზუსტი არ არის, სანამ მისი ქიმიურად გადამოწმება არ მოხდება.</p>
</div>

<div class="info-template" id="sources">
    <h3>სანდო წყაროები ნარკოტიკებზე</h3>

    <ol>
        <li>
            <p><a href="http://altgeorgia.ge/ka/">ალტერნატივა ჯორჯია</a></p>
        </li>
        <li>
            <p><a href="http://www.cactus-media.ge">კაქტუს-მედია</a> &amp; <a href="https://bit.ly/3gk8KwS"
                                                                              target="_blank">ფეისბუქ გვერდი</a>
            </p>
        </li>
        <li>
            <p>სათემო ორგანიზაცია <a href="https://www.mndl.ge">&quot;მანდალა&quot;</a> &amp; <a
                    href="https://www.facebook.com/cactus.media.ge" target="_blank">ფეისბუქ გვერდი</a></p>
        </li>
        <li>
            <p><a href="http://www.emcdda.europa.eu">ევროპის ნარკოტიკებისა და წამალდამოკიდებულების ევროპული ცენტრი</a>
            </p>
        </li>
        <li>
            <p><a href="http://www.drugabuse.gov">ამერიკის წამალდამოკიდებულების ეროვნული ინსტიტუტი</a></p>
        </li>
    </ol>
</div>
