.audio-player {
  display: flex;
  flex-flow: column;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 3rem;
  left: 0;
  align-items: center;

  .audio-player-controls {
    width: 80%;
    display: flex;
    background-color: white;
  }

  progress {
    width: 100%;
    height: 4px;
    margin: auto;
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: blue;
    height: 5px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    border: 1px solid lighten(#acacac, 20%);
    color: blue;
  }

  progress::-webkit-progress-value {
    background-color: blue;
  }

  #play-btn {
    background-image: url("http://imgur.com/JzQP8td.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;

    &.pause {
      background-image: url('http://imgur.com/MbJn41l.png');
    }
  }
}