$brand-green: #016838;
$dark-green: #00341c;
$light-green: #01B35E;

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  svg {
    background-color: white;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
  }
}
.info-link,
.view-story-btn,
.language-switcher {
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-weight: bold;
}

.info-link {
  margin: 16px 2rem;
}

:root {
  --plyr-color-main: $brand-green;
  --plyr-audio-controls-background: "none";
  --swiper-pagination-color: $brand-green;
}

.language-switcher {
  color: #333;

  &:hover {
    color: $brand-green;
  }
}

header {
  background-color: #fff;
}

.fileName {
  position: absolute;
  bottom: 60px;
  left: 30px;
  padding: 10px;
  background-color: white;
  color: black;
}

.view-story-overlay {
  z-index: 100;
}

.mouse_scroll {
  z-index: 25;
  display: none;
  bottom: 1rem !important;
}

header,
.audio-player {
  z-index: 50;
}

.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: #222;
  padding: 0.35rem 0.4rem 0.45rem;
  font-size: .9rem;
  color: white;
  text-align: center;
  display: flex;
  font-family: "Fira Code", sans-serif;
  opacity: 1;

  &:hover,
  &.swiper-pagination-bullet-active {
    background-color: $brand-green;
  }
}

.bg-white {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.full-page {
  width: 100%;
  height: 100%;
}

.info {
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 1.5rem;
  padding: 8rem;
  list-style: disc;

  li {
    margin: 1rem 0;
  }
}

.info-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;

  &.show-modal {
    display: block;
  }

  z-index: 200;

  .info-modal-overlay {
    overflow-y: auto;
    height: 100%;
  }

  .modal-close-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &:after, &:before {
      height: 2px;
      background-color: #444;
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      top: 50%;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:hover {
      &:after, &:before {
        background-color: #000;
      }
    }
  }

  .info-modal-wrapper {
    padding: 8rem;

    p, li {
      font-family: "MG Glaho Drunk", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    ol {
      list-style: decimal;
    }

    h3 {
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $brand-green;
  &:hover {
    color: $light-green;
  }
}

ol.translates {
  padding-left: 2rem;
}

.info-bg,
.intro-bg {
  h3 {
    color: #333;
  }

  color: #444;
}
.info-modal-wrapper {
  a:after {
    content: "";
    width: 1em;
    display: inline-block;
    height: 1em;
    background: url(../svg/extlink.svg) no-repeat bottom;
    margin: 0 .5rem;
    background-size: contain;
    &:hover {
      background-image: url(../svg/extlinklight.svg);
    }
  }
}
.info-bg,
.intro-bg {
  background-size: cover;
  background-position: center;
}

.info-bg {
  background-image: url(../img/watercolour-grey.jpg);
}
.intro-bg {
  background-image: url(../img/hole.jpg);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
}

h1 {
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: $brand-green;
  margin-bottom: 1rem;
}

h4 {
  font-family: "MG Glaho Drunk", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
}

.voice-coder {
  position: absolute;
  bottom: 0;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(100, 5px);
  grid-template-rows: 100%;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  span {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 2px;
    background: linear-gradient(#201c26 5%, red, yellow, #ff4800, yellow, red, #201c26 85%);
    animation: bounce-001;
    animation-duration: 0s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 900ms;
    @for $b from 1 through 100 {
      &:nth-child(#{$b}) {
        animation-delay: #{(($b) * (75))}ms;
      }
    }
    // change up the animations
    &:nth-child(2n) {
      animation-name: bounce-002;
      animation-timing-function: ease-out;
    }
    &:nth-child(3n) {
      animation-name: bounce-003;
      animation-timing-function: linear;
    }
  }
  &:after {
    position: absolute;
    z-index: 3;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    background-image: url("../img/overlay.png");
    background-repeat: repeat-x;
    background-size: 50%;
  }
}

@keyframes bounce-001 {
  0% {
    height: 100%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
@keyframes bounce-002 {
  0% {
    height: 100%;
  }
  80% {
    height: 30%;
  }
  100% {
    height: 100%;
  }
}
@keyframes bounce-003 {
  0% {
    height: 80%;
  }
  30% {
    height: 20%;
  }
  100% {
    height: 80%;
  }
}

.svg-name {
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: white;
  padding: 5px 10px 7px;
  border: 1px solid black;
  font-family: Monospace;
}

.row {
  display: flex;
  .col-md-6,
  .col-sm-12 {
    display: flex;
    flex-direction: column;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

#credits-page {
  p {
    font-family: "BPG Glaho WEB Caps", sans-serif;
    text-align: center;
    width: 50%;
    margin: .2rem auto;
    &.title {
      margin: 1rem auto .5rem;
      font-size: .8rem;
    }
    &.name {
      font-weight: bold;
    }
  }
  hr.divider {
    width: 30%;
    margin: 1rem auto;
    border: 1px solid #333;
    border-top-width: 0;
  }
}

.audio-player.hide-progress {
  .plyr__time,
  .plyr__progress {
    display: none;
  }
}

#language-switcher {
  display: none;
}

.opinion {
  font-size: .8rem;
}